body {
    background-color: hsl(273, 75%, 66%);
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    min-height: 100vh;
}

article {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.doos {
    background-color: white;
    border-radius: 25px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    padding-bottom: 40px;
}

.vrouw {
    width: 60vw;
    position: absolute;
    top: 5px;
    left: 20vw;
}

.schaduw {
    position: absolute;
    left: 20vw;
    width: 60vw;
    top: 28vw;
}

.faq {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
}

.vraag {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(87, 86, 86);
}

.antwoord {
    font-family: 'Outfit', sans-serif;
    font-size: 13px;
    color: hsl(240, 2%, 59%);
    margin-top: -15px;
    margin-bottom: 20px;
    display: none;
}

hr {
    background-color: lightgray;
    height: 1px;
    border: none;
}